/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */

main.container {
  /* margin-left: 1rem;
  margin-right: 1rem; */
}

/* media queries for responsive container sizes */
@media only screen and (min-width: 992px) {
  main.container {
      min-width: 90%;
  }
}